*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
body {
  background-color: #fffefe;
}

h1,h4,p,a{
  color:rgb(0, 0, 0);
  text-decoration: none;
}
ul{
  list-style: none;
}



.btn {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .btn {
    padding: 0.25em 0.75em;
  }
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  /* * {
    scrollbar-width: auto;
    scrollbar-color: #212121 #ffffff;
  } */

  /* Chrome, Edge, and Safari */
  /* *::-webkit-scrollbar {
    width: 13px;
  } */

  /* *::-webkit-scrollbar-track {
    background: #ffffff;
  } */

  /* *::-webkit-scrollbar-thumb {
    background-color: #212121;
    border-radius: 10px;
    border: 3px solid #ffffff;
  } */